@mixin svg-fill($src, $color-default, $color-new, $property: background-image) {
	
	$escape-color-default: escape($color-default) !default;
	$escape-color-new: escape('#{$color-new}') !default;
	
	$data-uri: data-uri('image/svg+xml;charset=UTF-8', '#{$src}') !default;
	$replace-src: replace('#{$data-uri}', '#{$escape-color-default}', '#{$escape-color-new}', 'g') !default;
	
	#{$property}: unquote($replace-src);
}