.autocomplete-input {
	width: 100%;
	padding: 12px;
	box-sizing: border-box;
	position: relative;
	flex: 1;
}

.autocomplete-input:focus,
.autocomplete-input[aria-expanded="true"] {
	border-color: $color-bluelighten;
	outline: none;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.16);
}

[data-position="below"] .autocomplete-input[aria-expanded="true"] {
	border-bottom-color: transparent;
	border-radius: 8px 8px 0 0;
}

[data-position="above"] .autocomplete-input[aria-expanded="true"] {
	border-top-color: transparent;
	border-radius: 0 0 8px 8px;
	z-index: 2;
}

/* Loading spinner */
.autocomplete[data-loading="true"]::after {
	content: "";
	border: 3px solid rgba(0, 0, 0, 0.12);
	border-right: 3px solid rgba(0, 0, 0, 0.48);
	border-radius: 100%;
	width: 20px;
	height: 20px;
	position: absolute;
	right: 12px;
	top: 50%;
	transform: translateY(-50%);
	animation: rotate 1s infinite linear;
}

.autocomplete-result-list {
	z-index: 1000 !important;
	margin: 0;
	border: 1px solid $color-bluelighten;
	padding: 0;
	box-sizing: border-box;
	max-height: 296px;
	overflow-y: auto;
	background: #fff;
	list-style: none;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.16);
}

[data-position="below"] .autocomplete-result-list {
	margin-top: -1px;
	border-top-color: transparent;
	border-radius: 0 0 8px 8px;
	padding-bottom: 8px;
	
	li {
		cursor: pointer;
	}
}

[data-position="below"] .autocomplete-result-list-large {
	width: 471px!important;
	margin-top: 4px!important;
	border-top: 1px solid $color-bluelighten!important;
	border-radius:8px!important;
}

@media (max-width: $breakpoint-xsmall-max) {
	
	[data-position="below"] .autocomplete-result-list-large {
		width: 100%!important;
		margin-top: -1px!important;
		border-top: 0 none;
		border-radius:0 0 8px 8px!important;
	}
	
}

[data-position="above"] .autocomplete-result-list {
	margin-bottom: -1px;
	border-bottom-color: transparent;
	border-radius: 8px 8px 0 0;
	padding-top: 8px;
}

/* Single result item */
.autocomplete-result {
	cursor: default;
	padding: 12px;
}

@keyframes rotate {
	from {
		transform: translateY(-50%) rotate(0deg);
	}
	to {
		transform: translateY(-50%) rotate(359deg);
	}
}
