
.tm-breadcrumb-home {

  margin: 0 0 10px 0;

  > :nth-child(2):not(.uk-first-column)::before {
    content: '';
    display: inline-block;
    margin: 0;
  }

  > :nth-last-child(2) > * {
    color: $breadcrumb-item-active-color;
  }
}
