.tm-bell,
.tm-cash {
	padding: 0 4px;
	color: #fff;
	font-size: .75rem;
	height: 18px;
}

.tm-bell {
	margin: -21px 0 0 -15px;
	background: #ef0000;
}

.tm-cash {
	margin: -21px 0 0 -2px;
	background: $color-gold;
}
