//
// Border
//

.tm-card-border-goldlight {
	box-shadow: $card-default-box-shadow, 0 0 0 3px rgba($color-goldlight, .35);
	
	&.uk-card-hover:hover {
		box-shadow: $card-default-hover-box-shadow, 0 0 0 3px rgba($color-goldlight, .35);
	}
}

.tm-card-border-red {
	box-shadow: $card-default-box-shadow, 0 0 0 3px rgba($color-red, .15);
	
	&.uk-card-hover:hover {
		box-shadow: $card-default-hover-box-shadow, 0 0 0 3px rgba($color-red, .15);
	}
}

.tm-card-border-grey {
	box-shadow: $card-default-box-shadow, 0 0 0 3px $color-greysmokelight;
	
	&.uk-card-hover:hover {
		box-shadow: $card-default-hover-box-shadow, 0 0 0 3px $color-greysmokelight;
	}
}