//
//
//

.tm-sidebar-padding {
	padding: 0 32px 18px 18px;
	width: 180px;
}

//
//
//
.tm-lang {
	padding-right: 18px !important;
}

//
//
//
.tm-sidebar-left {
	background-color: #2a3f54;
	box-sizing: border-box;
	overflow-y: auto;
	overflow-x: hidden;
}

.tm-sidebar-left .uk-nav-default > li > a,
.tm-sidebar-left .uk-nav-default .uk-nav-sub a {
	color: rgba(255, 255, 255, .75);
}

//
// Sidebar menu
//
.tm-sidebar-nav {
	margin: 0 -32px auto -18px;
	
	.uk-nav-header {
		padding-left: 18px;
		padding-top: 6px;
		padding-bottom: 7px;
		border-top: 1px solid rgba(255, 255, 255, .15);
		background: rgba(255, 255, 255, .03);
	}
	
	a {
		padding: 8px 18px !important;
	}
	
	ul a {
		padding: 8px 0 8px 36px !important;
	}
	
	> li.uk-active > a {
		background: rgba(255, 255, 255, .15);
		color: #fff;
	}
	
	> li.uk-parent li.uk-active > a {
		color: #fff;
	}
	
	.uk-active {
		border-right: 4px solid #1abb9c;
	}
	
	ul {
		li {
			position: relative;
			display: block;
			
			&:before {
				background: #425668;
				bottom: auto;
				content: "";
				height: 8px;
				left: 8px;
				margin-top: 18px;
				position: absolute;
				right: auto;
				width: 8px;
				z-index: 1;
				border-radius: 50%;
			}
			
			&.uk-active::before {
				background: rgba(255, 255, 255, 0.81);
			}
			
			&:after {
				border-left: 1px solid #425668;
				bottom: 0;
				content: "";
				left: 12px;
				position: absolute;
				top: 0;
			}
		}
		
		.uk-active {
			border-right: none;
		}
	}
}

.tm-sidebar-icon {
	margin-top: 3px;
}
