//
// Module
//
.tm-mod {
	
	> h3, > .uk-h3,
	> h2, > .uk-h2 {
		text-align: center;
		margin-bottom: 60px;
	}
	
	a {
		text-decoration: none;
	}
	
}

.tm-header-title {
	color: $color-bluedark;
	font-family: $tm-font-bold;
	font-size: 2.5rem;
	margin: 0 0 10px 0;
}

.tm-header-subtitle {
	color: $color-blue;
	font-size: 1.375rem;
	font-family: $tm-font;
}

.tm-mod-header-left {
	
	.tm-header-subtitle {
		display: block;
		font-size: 1.25rem;
	}
	
}

.tm-mod-large {
	> .uk-margin {
		@extend .uk-margin-medium-top;
	}
}

.tm-mod-sm {
	> h3,
	> .uk-h3,
	> h2 {
		font-size: 1.125rem;
	}
	
	.uk-divider-small {
		
		padding-top: 4px;
		
		&:after {
			border-top: 3px solid $color-blue;
			width: 40px;
		}
	}
}

//
// Responsive
//

/* Phone landscape and smaller */
@media (max-width: $breakpoint-xsmall-max) {
	
	// Modules title
	.tm-header-subtitle {
		font-size: 0.9375rem;
	}
	
	.tm-header-title {
		font-size: 1.875rem;
		line-height: 1.2;
		margin: 0 0 5px 0;
	}

}
