$tm-rating-star: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpolygon fill='#000' points='10 2 12.63 7.27 18.5 8.12 14.25 12.22 15.25 18 10 15.27 4.75 18 5.75 12.22 1.5 8.12 7.37 7.27 10 2' stroke='#000' stroke-width='1.01'/%3E%3C/svg%3E";
$tm-rating-star-zero: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpolygon fill='#fff' points='10 2 12.63 7.27 18.5 8.12 14.25 12.22 15.25 18 10 15.27 4.75 18 5.75 12.22 1.5 8.12 7.37 7.27 10 2' stroke='#000' stroke-width='1.01'/%3E%3C/svg%3E";

.tm-rating {
	position: relative;
	display: inline-block;
	@include svg-fill($tm-rating-star-zero, "#000", $color-bluelight);
	background-position: 0 0;
	background-repeat: repeat-x;
	width: 70px;
	height: 14px;
	background-size: 14px;
}

.tm-rating-value {
	position: absolute;
	height: 100%;
	width: 100%;
	@include svg-fill($tm-rating-star, "#000", $color-bluelight);
	background-repeat: repeat-x;
	background-size: 14px;
}