
.tm-slider {
	background-image: url("/app/img/slider-bg.svg");
	background-repeat: no-repeat;
	background-size: cover;
}

.tm-slider-img-box {
	height: 300px;
	width: 798px;
	text-align: right;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 704 300'%3E%3Cpath fill='%231d85e3' fill-opacity='.5' d='M346 0C220.861 81.765 87.811 183.02.5 300l46.525-.033C154.445 159.909 222.503 91.502 359.975.017zM359.975.018l338.414.404c.058-.245.13-.229.39-.42V0H360l-.025.018zM47.025 299.967L47 300h566.268l.078-.426z'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-size: cover;
}

.tm-slideshow {
	margin: 0;
}

.tm-slideshow-margin {
	margin: -10px;
}

.tm-slideshow-icon svg {
	width: 18px;
	color: $color-blue;
}

//
// Responsive
//

/* Tablet landscape and smaller */
@media (max-width: $breakpoint-large) {
	.tm-slideshow,
	.tm-slideshow-margin {
		margin: 0;
		padding: 0 25px;
	}
	
	.tm-slideshow-margin {
		.tm-slideshow-icon {
			margin: 0;
		}
	}
	
	.tm-slideshow {
		.tm-slideshow-icon {
			margin-left: 0;
			margin-right: 0;
		}
	}
}