// @formatter:off

//
// Fonts
//
$tm-font:                                       r-regular;
$tm-font-light:                                 r-light;
$tm-font-semibold:                              r-medium;
$tm-font-bold:                                  r-bold;
$tm-font-black:                                 r-black;
$tm-font-monospace:                             monospace;

$tm-global-font-family:                         '#{$tm-font}', BlinkMacSystemFont, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
$tm-global-font-weight:                         normal;
$tm-global-font-size:                           16px;
$tm-global-line-height:                         1.8125;

//
// Colors
//
$color-white:                                   #fff;

$color-dark:                                    #2b3134;
$color-dark-opacity:                            rgba($color-dark, .7);
$color-blackdeep:                               #333;
$color-steel:                                   #4f6976;
$color-grey:                                    #8c9aa2;
$color-greylight:                               lighten($color-grey, 33%);
$color-greylighten:                             #f8fafb;
$color-greyen:                                  #5A738E;
$color-greyblue:                                #f8f8f8;
$color-greysmokelight:                          #e5e5e5;

$color-red:                                     #d9534f;
$color-orange:                                  #faa05a;
$color-blue:                                    #006ebf;
$color-blue-dark:                               darken($color-blue, 20%);

$color-primary:                                 #26B99A;
$color-primary-dark:                            darken($color-primary, 20%);
$color-primary-darken:                          darken($color-primary, 15%);
$color-primary-lighten:                         rgba($color-primary, .05);
$color-secondary:                               #337ab7;
$color-primary-dark:                            darken($color-secondary, 20%);

//
// UIKit 3 new variables and variable overwrites
//

// Fonts
$global-font-family:                             $tm-global-font-family;
$global-font-size:                               $tm-global-font-size;
$global-line-height:                             $tm-global-line-height;

$global-small-font-size:                        .875rem;
$global-xlarge-font-size:                       2rem;
$global-xlarge-margin:                          140px;
$global-xxlarge-font-size:                      2.625rem;

// Colors
$global-color:                                  $color-grey;
$global-link-color:                             $color-blue;
$global-link-hover-color:                       $color-blue-dark;
$global-muted-color:                            $color-grey;
$global-emphasis-color:                         $color-grey;

// Backgrounds
$global-background:                             $color-white;
$global-danger-background:                      $color-red;
$global-muted-background:                       $color-greylighten;
$global-primary-background:                     $color-primary;
$global-secondary-background:                   $color-secondary;
$global-warning-background:                     $color-orange;

// Box-Shadows
$global-small-box-shadow:                        0 2px 8px rgba(0,0,0,0.1);
$global-medium-box-shadow:                       0 5px 15px rgba(0,0,0,0.1);
$global-large-box-shadow:                        0 14px 25px rgba(0,0,0,0.18);
$global-xlarge-box-shadow:                       0 28px 50px rgba(0,0,0,0.18);

// Border
$global-border-width:                           1px;
$global-border:                                 $color-greysmokelight;
$border-rounded-border-radius:                  10px;

//
$global-control-height:                         40px;

// Inverse
$global-inverse-color:                           #fff;
$inverse-global-color:                           rgba($global-inverse-color, 0.7);
$inverse-global-emphasis-color:                  $global-inverse-color;
$inverse-global-muted-color:                     rgba($global-inverse-color, 0.7);
$inverse-global-inverse-color:                   $global-color;
$inverse-global-primary-background:              $global-inverse-color;
$inverse-global-muted-background:                rgba($global-inverse-color, 0.1);
$inverse-global-border:                          rgba($global-inverse-color, 0.2);

//
// Variables
//
@import '~uikit/src/scss/variables';

