//
// Body
//
.tm-container {
	padding: 18px;
}

//
// Navbar
//
.tm-status {
	width: 36px;
	height: 30px;
	padding: 0;
}

.tm-status-bull {
	width: 9px;
	height: 9px;
	border-radius: 9px;
	padding: 0;
	border: 1px solid $color-white;
}

.tm-navbar {
	.uk-navbar-item,
	.uk-navbar-nav > li > a,
	.uk-navbar-toggle {
		height: 50px;
	}
	
	> a,
	.uk-navbar-nav > li > a {
		color: #5a738e !important;
	}
	
	.uk-navbar-nav > li > a {
		text-transform: none;
	}
}

.tm-navbar-container {
	background-color: #ededed;
}

//
// Sidebar
//
.tm-logo {
	padding-top: 12px;
}

.tm-b-panel {
	width: 195px;
}

.tm-b-panel-drop {
	background-color: #22a488;
}

.tm-label-sidebar {
	color: $global-warning-background !important;
}

//
// Responsive
//
/* Tablet landscape and smaller */
//@media (max-width: $breakpoint-medium-max) {}

/* Phone landscape and smaller */
//@media (max-width: $breakpoint-xsmall-max) {}

/* Phone landscape and bigger */
//@media (max-width: $breakpoint-xsmall-max) {}

/* Phone landscape and bigger */
//@media (min-width: $breakpoint-small) {}

/* Tablet landscape and bigger */
//@media (min-width: $breakpoint-medium) {}

/* Desktop and bigger */
//@media (min-width: $breakpoint-large) {}

/* Large screen and bigger */
//@media (min-width: $breakpoint-xlarge) {}
