//
// max-width
//

/* Tablet landscape and smaller */
//@media (max-width: $breakpoint-medium-max) {}

/* Tablet landscape and smaller */
@media (max-width: $breakpoint-small-max) {
	
	button,
	select,
	a {
		-webkit-tap-highlight-color: transparent;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
}

//
// min-width
//

/* Tablet landscape and smaller */
//@media (max-width: $breakpoint-small) {}

/* Phone landscape and smaller */
//@media (min-width: $breakpoint-medium) {}

//
// Other
//

/**/
@media (max-width: $breakpoint-xsmall-max) {
	
	.tm-admin-button {
		.uk-button {
			padding: 0 8px;
			font-size: .72rem;
			line-height: 32px;
		}
	}
	
}

/**/
@media (max-width: $breakpoint-large) {
	
	.uk-form-horizontal .uk-form-controls {
		margin-left: 0;
	}
	
}

@media (min-width: $breakpoint-large) {
	
	.uk-form-horizontal .uk-form-controls {
		margin-left: 140px;
	}
	
	.uk-form-horizontal .uk-form-label {
		width: 140px;
	}
	
}

@media (min-width: $breakpoint-large) and (max-width: $breakpoint-xlarge) {
	
	.uk-form-horizontal .uk-form-controls {
		margin-left: 140px;
	}
	
	.uk-form-horizontal .uk-form-label {
		width: 140px;
	}
	
}