.cck-pos-header {
	.cck_cgx_form {
		float: none !important;
	}
}

.vanilla-calendar_to-input {
	z-index: 1000;
	@extend .uk-box-shadow-medium;
}

.visually-hidden {
	display: none;
}

.tm-icon-button-danger {
	@extend .uk-button-danger;
}

.tm-icon-button-danger:hover,
.tm-icon-button-danger:focus {
	background-color: $button-danger-hover-background;
	color: $button-danger-hover-color;
}

body .cck_button {
	height: 25px !important;
	width: 25px !important;
	margin: 0 5px;
}

fieldset {
	border: 0 none;
	padding: 0;
}

.table {
	@extend .uk-table;
	@extend .uk-table-small;
	@extend .uk-table-divider;
	@extend .uk-table-striped;
}

.icon-minus,
.icon-minus-circle,
.icon-plus,
.icon-plus-circle,
.icon-circle,
.icon-menu,
.icon-menu-2,
.icon-arrow-down-3, .icon-arrow-up-3 {
	height: 25px !important;
	width: 25px !important;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	display: block;
}

.icon-minus, .icon-minus-circle {
	@include svg-fill('data:image/svg+xml,%3Csvg width=\'20\' height=\'20\' viewBox=\'0 0 20 20\' xmlns=\'http://www.w3.org/2000/svg\'%3E%3Ccircle fill=\'none\' stroke=\'#000\' stroke-width=\'1.1\' cx=\'9.5\' cy=\'9.5\' r=\'9\' /%3E%3Cline fill=\'none\' stroke=\'#000\' x1=\'5\' y1=\'9.5\' x2=\'14\' y2=\'9.5\' /%3E%3C/svg%3E%0A', '#000', #da2c2d);
}

.icon-plus, .icon-plus-circle {
	@include svg-fill('data:image/svg+xml,%3Csvg width=\'20\' height=\'20\' viewBox=\'0 0 20 20\' xmlns=\'http://www.w3.org/2000/svg\'%3E%3Ccircle fill=\'none\' stroke=\'#000\' stroke-width=\'1.1\' cx=\'9.5\' cy=\'9.5\' r=\'9\' /%3E%3Cline fill=\'none\' stroke=\'#000\' x1=\'9.5\' y1=\'5\' x2=\'9.5\' y2=\'14\' /%3E%3Cline fill=\'none\' stroke=\'#000\' x1=\'5\' y1=\'9.5\' x2=\'14\' y2=\'9.5\' /%3E%3C/svg%3E%0A', '#000', #37b421);
}

.icon-circle {
	@include svg-fill('data:image/svg+xml,%3Csvg width=\'20\' height=\'20\' viewBox=\'0 0 20 20\' xmlns=\'http://www.w3.org/2000/svg\'%3E%3Cpolygon points=\'4,5 1,5 1,9 2,9 2,6 4,6 \' /%3E%3Cpolygon points=\'1,16 2,16 2,18 4,18 4,19 1,19 \' /%3E%3Cpolygon points=\'14,16 14,19 11,19 11,18 13,18 13,16 \' /%3E%3Crect fill=\'none\' stroke=\'#000\' x=\'5.5\' y=\'1.5\' width=\'13\' height=\'13\' /%3E%3Crect x=\'1\' y=\'11\' width=\'1\' height=\'3\' /%3E%3Crect x=\'6\' y=\'18\' width=\'3\' height=\'1\' /%3E%3C/svg%3E', '#000', #4f6976);
}

.icon-menu {
	@include svg-fill('data:image/svg+xml,%3Csvg width=\'20\' height=\'20\' viewBox=\'0 0 20 20\' xmlns=\'http://www.w3.org/2000/svg\'%3E%3Ccircle stroke=\'#000\' cx=\'10\' cy=\'3\' r=\'2\' /%3E%3Ccircle stroke=\'#000\' cx=\'10\' cy=\'10\' r=\'2\' /%3E%3Ccircle stroke=\'#000\' cx=\'10\' cy=\'17\' r=\'2\' /%3E%3C/svg%3E', '#000', $global-link-color);
}

.icon-menu-2 {
	@include svg-fill('data:image/svg+xml,%3Csvg width=\'20\' height=\'20\' viewBox=\'0 0 20 20\' xmlns=\'http://www.w3.org/2000/svg\'%3E%3Crect fill=\'#000\' x=\'6\' y=\'4\' width=\'12\' height=\'1\' /%3E%3Crect fill=\'#000\' x=\'6\' y=\'9\' width=\'12\' height=\'1\' /%3E%3Crect fill=\'#000\' x=\'6\' y=\'14\' width=\'12\' height=\'1\' /%3E%3Crect fill=\'#000\' x=\'2\' y=\'4\' width=\'2\' height=\'1\' /%3E%3Crect fill=\'#000\' x=\'2\' y=\'9\' width=\'2\' height=\'1\' /%3E%3Crect fill=\'#000\' x=\'2\' y=\'14\' width=\'2\' height=\'1\' /%3E%3C/svg%3E', '#000', $global-link-color);
}

.icon-arrow-down-3 {
	@include svg-fill('data:image/svg+xml,%3Csvg width=\'20\' height=\'20\' viewBox=\'0 0 20 20\' xmlns=\'http://www.w3.org/2000/svg\'%3E%3Cpolygon points=\'5 7 15 7 10 12\' fill=\'#000\' /%3E%3C/svg%3E', '#000', $global-link-color);
}

.icon-arrow-up-3 {
	@include svg-fill('data:image/svg+xml,%3Csvg width=\'20\' height=\'20\' viewBox=\'0 0 20 20\' xmlns=\'http://www.w3.org/2000/svg\'%3E%3Cpolygon points=\'5 13 10 8 15 13\' fill=\'#000\' /%3E%3C/svg%3E', '#000', $global-link-color);
}

aside.cck_cgx_button {
	width: auto !important;
	white-space: nowrap;
}

// Group X
.cck_form_group_x {
	@extend .uk-card;
	@extend .tm-card-flat-border;
	@extend .uk-padding-small;
	
	margin: 5px;
}

.cck_forms {
	@extend .uk-margin;
	
	margin: 5px;
}

.horizontal_gx, .vertical_gx {
	position: relative;
	width: 100%;
	padding: 0;
	margin: 0;
	
	.cck_cgx_form {
		float: none !important;
	}
	
	.cck_label {
		@extend .uk-form-label;
	}
	
	.cck_forms {
		@extend .uk-form-small;
	}
	
	.select {
		@extend .uk-select;
	}
	
	.cck_forms:not(textarea):not([multiple]):not([size]) {
		height: inherit !important;
	}
}

// File X
.collection-group-wrap {
	@extend .uk-card;
	@extend .tm-card-flat-border;
	@extend .uk-margin;
	@extend .uk-padding-small;
	@extend .uk-display-block;
	@extend .uk-overflow-hidden;
	
	.cck_upload_image,
	.cck_label_upload_image {
		@extend .uk-margin-small;
		
		clear: both;
	}
	
	.cck_form_upload_image input.inputbox {
		@extend .uk-input;
	}
	
	.collection-group-form,
	.collection-group-button {
		width: 100%;
	}
}

.cck_page_list {
	@extend .uk-section-default;
	@extend .uk-box-shadow-medium;
	@extend .uk-padding-small;
	@extend .uk-border-rounded;
}

// image
.cck_form_upload_image {
	@extend .uk-text-center;
	@extend .uk-margin-small-top;
}

.cck_upload_image .cck_form_upload_image .uk-input {
	width: 100%;
}

// field X
.collection-group-wrap {
	border-bottom: 0 none !important;
}

.collection-group-button {
	padding-top: 6px !important;
	float: right !important;
}

.collection-group-button .icon-minus,
.collection-group-button .icon-plus,
.collection-group-button .icon-circle {
	width: 20px;
	height: 20px;
	float: left;
	
	@extend .uk-margin-small-right;
	
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.collection-group-button .icon-minus {
	@include svg-fill('~uikit/src/images/icons/minus-circle.svg', '#000', $global-danger-background);
}

.collection-group-button .icon-plus {
	@include svg-fill('~uikit/src/images/icons/plus-circle.svg', '#000', $color-primary);
}

.collection-group-button .icon-circle {
	@include svg-fill('~uikit/src/images/icons/move.svg', '#000', $global-primary-background);
}