//
// Main color
//
.tm-color-primary {
	color: $color-primary;
}

.tm-color-primary-dark {
	color: $color-primary-dark;
}

//
// text color
//

.tm-light {
	color: $color-white !important;
}

.tm-color-grey {
	color: $color-greyen;
}

.tm-color-greylight {
	color: $color-greylight;
}

.tm-color-blackdeep {
	color: $color-blackdeep;
}

.tm-color-steel {
	color: $color-steel;
	
	a {
		color: $color-steel;
	}
}