// List

$bullet-image: "data:image/svg+xml;charset=UTF-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 11'%3E%3Cpath fill='#000' d='M5.083 8.821l-3.16-3.16A.833.833 0 00.744 6.839l3.75 3.75a.833.833 0 001.179 0l9.166-9.166A.833.833 0 0013.661.244L5.083 8.821z'/%3E%3C/svg%3E";

.tm-list-tab {
	padding: 0;
}

.tm-list-tab,
.tm-list-tab > li {
	list-style: none;
	list-style-type: inherit !important;
}

.tm-list {
	> li:nth-child(n+2),
	> li > ul {
		margin-top: 0;
	}
}

.tm-list-check,
.tm-article ul {
	list-style: none !important;
	padding-left: 0 !important;
	
	li {
		position: relative;
		padding-left: 1.5em;
		list-style-type: none !important;
	}
	
	li:before {
		content: '';
		position: absolute;
		left: 0;
		width: 1em;
		height: 1em;
		@include svg-fill($bullet-image, "#000", $color-blue);
		background-repeat: no-repeat;
		background-position: 0 5px;
	}
}

.tm-list-check-yellow {
	li:before {
		@include svg-fill($bullet-image, "#000", $color-yellowdark);
	}
}
