.tm-padding-medium {
	padding: 30px;
}

.tm-padding-medium-top {
	padding-top: 30px !important;
}

.tm-padding-medium-bottom {
	padding-bottom: 30px !important;
}

.tm-padding-medium-left {
	padding-left: 30px !important;
}

.tm-padding-medium-right {
	padding-right: 30px !important;
}