// screenreaders

.tm-skip {
  a {
    display: block;
    position: absolute;
    left: -999px;
    top: -999px;
  
    &:focus {
      left: 0;
      top: 0;
      padding: 3px;
      background: #ffc;
      border: 1px solid #990000;
    }
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  clip-path: inset(50%);
  border: 0;
}
