.tm-tab-large {
	margin-top: -12px;
	
	> * > a {
		font-size: 1.188rem;
		font-family: $tm-font;
		padding: $tab-item-padding-vertical 15px;
	}
}

.uk-switcher .uk-article {
	h2, h3 {
		font-size: 20px;
		font-family: $tm-font-semibold;
	}
}

//
// Responsive
//

/* Phone landscape and smaller */
@media (max-width: $breakpoint-xsmall-max) {

}

/* Tablet landscape and smaller */
@media (max-width: $breakpoint-small) {

}