//
// Component: Close
//
// ========================================================================

@mixin hook-close() {
	transition: 0.1s ease-in-out;
	transition-property: color, opacity;
}

// Variables
// ========================================================================

// Component
// ========================================================================

// @mixin hook-close-hover(){}

// Miscellaneous
// ========================================================================

// @mixin hook-close-misc(){}

// Inverse
// ========================================================================

// @mixin hook-inverse-close(){}
// @mixin hook-inverse-close-hover(){}

@mixin hook-inverse-component-close() {
	
	.uk-close {
		color: $inverse-close-color;
		@if (mixin-exists(hook-inverse-close)) {
			@include hook-inverse-close();
		}
	}
	
	.uk-close:hover,
	.uk-close:focus {
		color: $inverse-close-hover-color;
		@if (mixin-exists(hook-inverse-close-hover)) {
			@include hook-inverse-close-hover();
		}
	}
	
}
