//
// Component: Heading
//
// ========================================================================

// Variables
// ========================================================================

// Component
// ========================================================================

// @mixin hook-heading-small(){}

// @mixin hook-heading-medium(){}

// @mixin hook-heading-large(){}

// @mixin hook-heading-xlarge(){}

// @mixin hook-heading-2xlarge(){}

// Divider
// ========================================================================

// @mixin hook-heading-divider(){}


// Bullet
// ========================================================================

// @mixin hook-heading-bullet(){}

// Line
// ========================================================================

// @mixin hook-heading-line(){}


// Miscellaneous
// ========================================================================

// @mixin hook-heading-misc(){}

// Inverse
// ========================================================================

@mixin hook-inverse-component-heading() {
	
	.uk-heading-small {
		@if (mixin-exists(hook-inverse-heading-small)) {
			@include hook-inverse-heading-small();
		}
	}
	
	.uk-heading-medium {
		@if (mixin-exists(hook-inverse-heading-medium)) {
			@include hook-inverse-heading-medium();
		}
	}
	
	.uk-heading-large {
		@if (mixin-exists(hook-inverse-heading-large)) {
			@include hook-inverse-heading-large();
		}
	}
	
	.uk-heading-xlarge {
		@if (mixin-exists(hook-inverse-heading-xlarge)) {
			@include hook-inverse-heading-xlarge();
		}
	}
	
	.uk-heading-2xlarge {
		@if (mixin-exists(hook-inverse-heading-primary)) {
			@include hook-inverse-heading-primary();
		}
	}
	
	@if ($deprecated == true) {
		.uk-heading-primary {
			@if (mixin-exists(hook-inverse-heading-primary)) {
				@include hook-inverse-heading-primary();
			}
		}
	}
	
	@if ($deprecated == true) {
		.uk-heading-hero {
			@if (mixin-exists(hook-inverse-heading-hero)) {
				@include hook-inverse-heading-hero();
			}
		}
	}
	
	.uk-heading-divider {
		border-bottom-color: $inverse-heading-divider-border;
		@if (mixin-exists(hook-inverse-heading-divider)) {
			@include hook-inverse-heading-divider();
		}
	}
	
	.uk-heading-bullet::before {
		border-left-color: $inverse-heading-bullet-border;
		@if (mixin-exists(hook-inverse-heading-bullet)) {
			@include hook-inverse-heading-bullet();
		}
	}
	
	.uk-heading-line > ::before,
	.uk-heading-line > ::after {
		border-bottom-color: $inverse-heading-line-border;
		@if (mixin-exists(hook-inverse-heading-line)) {
			@include hook-inverse-heading-line();
		}
	}
	
}

// @mixin hook-inverse-heading-small(){}

// @mixin hook-inverse-heading-medium(){}

// @mixin hook-inverse-heading-large(){}

// @mixin hook-inverse-heading-xlarge(){}

// @mixin hook-inverse-heading-2xlarge(){}

// @mixin hook-inverse-heading-divider(){}

// @mixin hook-inverse-heading-bullet(){}

// @mixin hook-inverse-heading-line(){}
