//
// Component: Navbar
//
// ========================================================================


// Variables
// ========================================================================

// Component
// ========================================================================

// @mixin hook-navbar(){}

// Container
// ========================================================================

// @mixin hook-navbar-container(){}

// Nav
// ========================================================================

@mixin hook-navbar-nav-item() {
	@extend .uk-text-uppercase;
	-webkit-transition: 0.1s ease-in-out;
	transition: 0.1s ease-in-out;
	-webkit-transition-property: color, background-color;
	transition-property: color, background-color;
}

// @mixin hook-navbar-nav-item-hover(){}

// @mixin hook-navbar-nav-item-onclick(){}

// @mixin hook-navbar-nav-item-active(){}

// Item
// ========================================================================

@mixin hook-navbar-nav-item() {
	text-transform: $navbar-nav-item-text-transform;
	transition: 0.1s ease-in-out;
	transition-property: color, background-color;
}

// Toggle
// ========================================================================

// @mixin hook-navbar-toggle(){}

// @mixin hook-navbar-toggle-hover(){}

// @mixin hook-navbar-toggle-icon(){}

// @mixin hook-navbar-toggle-icon-hover(){}

// Subtitle
// ========================================================================

// @mixin hook-navbar-subtitle(){}

// Style modifiers
// ========================================================================

// @mixin hook-navbar-primary(){}

// @mixin hook-navbar-transparent(){}

// @mixin hook-navbar-sticky(){}

// Dropdown
// ========================================================================

@mixin hook-navbar-dropdown() {
	box-shadow: $navbar-dropdown-box-shadow;
}

@mixin hook-navbar-dropdown-dropbar() {
	box-shadow: none;
}

// Dropdown nav
// ========================================================================

@mixin hook-navbar-dropdown-nav() {
	font-size: $navbar-dropdown-nav-font-size;
}

// @mixin hook-navbar-dropdown-nav-item(){}

// @mixin hook-navbar-dropdown-nav-item-hover(){}

// @mixin hook-navbar-dropdown-nav-header(){}

// @mixin hook-navbar-dropdown-nav-divider(){}

// Dropbar
// ========================================================================

// @mixin hook-navbar-dropbar(){}

@mixin hook-navbar-dropbar-slide() {
	box-shadow: $navbar-dropbar-box-shadow;
}


// Miscellaneous
// ========================================================================

@mixin hook-navbar-misc() {
	
	/*
	 * Navbar
	 */
	.uk-navbar-container > .uk-container .uk-navbar-left {
		margin-left: -$navbar-nav-item-padding-horizontal;
		margin-right: -$navbar-nav-item-padding-horizontal;
	}
	
	.uk-navbar-container > .uk-container .uk-navbar-right {
		margin-right: -$navbar-nav-item-padding-horizontal;
	}
	
	/*
	 * Grid Divider
	 */
	.uk-navbar-dropdown-grid > * {
		position: relative;
	}
	
	.uk-navbar-dropdown-grid > :not(.uk-first-column)::before {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: ($navbar-dropdown-grid-gutter-horizontal / 2);
		border-left: $navbar-dropdown-grid-divider-border-width solid $navbar-dropdown-grid-divider-border;
	}
	
	/* Vertical */
	.uk-navbar-dropdown-grid.uk-grid-stack > .uk-grid-margin::before {
		content: '';
		position: absolute;
		top: -($navbar-dropdown-grid-gutter-vertical / 2);
		left: $navbar-dropdown-grid-gutter-horizontal;
		right: 0;
		border-top: $navbar-dropdown-grid-divider-border-width solid $navbar-dropdown-grid-divider-border;
	}
	
}

// Inverse
// ========================================================================

@mixin hook-inverse-component-navbar() {
	
	.uk-navbar-nav > li > a {
		color: $inverse-navbar-nav-item-color;
		@if (mixin-exists(hook-inverse-navbar-nav-item)) {
			@include hook-inverse-navbar-nav-item();
		}
	}
	
	.uk-navbar-nav > li:hover > a,
	.uk-navbar-nav > li > a:focus,
	.uk-navbar-nav > li > a.uk-open {
		color: $inverse-navbar-nav-item-hover-color;
		@if (mixin-exists(hook-inverse-navbar-nav-item-hover)) {
			@include hook-inverse-navbar-nav-item-hover();
		}
	}
	
	.uk-navbar-nav > li > a:active {
		color: $inverse-navbar-nav-item-onclick-color;
		@if (mixin-exists(hook-inverse-navbar-nav-item-onclick)) {
			@include hook-inverse-navbar-nav-item-onclick();
		}
	}
	
	.uk-navbar-nav > li.uk-active > a {
		color: $inverse-navbar-nav-item-active-color;
		@if (mixin-exists(hook-inverse-navbar-nav-item-active)) {
			@include hook-inverse-navbar-nav-item-active();
		}
	}
	
	.uk-navbar-item {
		color: $inverse-navbar-item-color;
		@if (mixin-exists(hook-inverse-navbar-item)) {
			@include hook-inverse-navbar-item();
		}
	}
	
	.uk-navbar-toggle {
		color: $inverse-navbar-toggle-color;
		@if (mixin-exists(hook-inverse-navbar-toggle)) {
			@include hook-inverse-navbar-toggle();
		}
	}
	
	.uk-navbar-toggle:hover,
	.uk-navbar-toggle:focus,
	.uk-navbar-toggle.uk-open {
		color: $inverse-navbar-toggle-hover-color;
		@if (mixin-exists(hook-inverse-navbar-toggle-hover)) {
			@include hook-inverse-navbar-toggle-hover();
		}
	}
	
}

// @mixin hook-inverse-navbar-nav-item(){}
// @mixin hook-inverse-navbar-nav-item-hover(){}
// @mixin hook-inverse-navbar-nav-item-onclick(){}
// @mixin hook-inverse-navbar-nav-item-active(){}

// @mixin hook-inverse-navbar-item(){}

// @mixin hook-inverse-navbar-toggle(){}
// @mixin hook-inverse-navbar-toggle-hover(){}
