//
// Component: Notification
//
// ========================================================================

// Variables
// ========================================================================

// Component
// ========================================================================

//@mixin hook-notification(){}

// Message
// ========================================================================

@mixin hook-notification-message(){
	@extend .uk-margin-small;
	//@extend .uk-box-shadow-medium;
	//@extend .uk-background-default;
	border-radius: 3px;
	padding: 20px;
}

// Close
// ========================================================================

@mixin hook-notification-close() {
	color: $global-inverse-color !important;
}

.uk-notification-message .uk-notification-close,
.uk-notification-message:hover .uk-notification-close {
	@include hook-notification-close;
}

// Style modifiers
// ========================================================================

@mixin hook-notification-message-primary() {
	color: $global-inverse-color;
	background: $notify-message-primary-background;
}

@mixin hook-notification-message-success() {
	color: $global-inverse-color;
	background: $notify-message-success-background;
}

@mixin hook-notification-message-warning() {
	color: $global-inverse-color;
	background: $notify-message-warning-background;
}

@mixin hook-notification-message-danger() {
	color: $global-inverse-color;
	background: $notify-message-danger-background;
}

// Miscellaneous
// ========================================================================

// @mixin hook-notification-misc(){}
