//
// Component: Notification
//
// ========================================================================

// Variables
// ========================================================================

//
// New
//
//$notification-position:                         115px;
$notification-z-index: $global-z-index + 40;
//$notification-width:                            360px;
$notification-width: 550px;
$notification-message-margin-top: 10px;
$notification-message-padding: 10px;
$notification-message-background: transparent;
$notification-message-color: $global-color;
$notification-message-font-size: $global-medium-font-size;
$notification-message-line-height: 1.3;
$notification-message-font-size: 17px;
$notification-close-top: $notification-message-padding + 5px;
$notification-close-right: $notification-message-padding;
$notification-message-primary-color: $color-secondary;
$notification-message-success-color: $color-primary;
$notification-message-warning-color: $global-warning-background;
$notification-message-danger-color: $global-danger-background;

// Component
// ========================================================================

// @mixin hook-notification() {}

// Message
// ========================================================================

@mixin hook-notification-message() {
	@extend .uk-box-shadow-medium;
	@extend .uk-background-default;
	@extend .uk-padding-small;
	@extend .uk-border-rounded;
}

// Close
// ========================================================================

@mixin hook-notification-close() {
	color: $global-inverse-color !important;
}

.uk-notification-message .uk-notification-close,
.uk-notification-message:hover .uk-notification-close {
	@include hook-notification-close;
}

// Style modifiers
// ========================================================================

@mixin hook-notification-message-primary() {

}

@mixin hook-notification-message-success() {

}

@mixin hook-notification-message-warning() {

}

@mixin hook-notification-message-danger() {

}

// Miscellaneous
// ========================================================================

// @mixin hook-notification-misc(){}
