// @formatter:off

//
// Component: Off-canvas
//
// ========================================================================

// Variables
// ========================================================================

//
// New
//
$offcanvas-bar-width:                           275px;
$offcanvas-bar-padding-vertical:                0;
$offcanvas-bar-padding-horizontal:              0;

$offcanvas-bar-background:                      $color-white;
$offcanvas-overlay-background:                  $color-dark-opacity;

$offcanvas-bar-color-mode:                      dark;

$offcanvas-bar-width-m:                         $offcanvas-bar-width;
$offcanvas-bar-padding-vertical-m:              0;
$offcanvas-bar-padding-horizontal-m:            0;
