//
// Component: Placeholder
//
// ========================================================================

// Variables
// ========================================================================

//
// New
//
$placeholder-background:                        transparent;
$placeholder-border-width:                      $global-border-width;
$placeholder-border:                            $global-border;

// Component
// ========================================================================

@mixin hook-placeholder() {
  border: $placeholder-border-width dashed $placeholder-border;
}

// Miscellaneous
// ========================================================================

// @mixin hook-placeholder-misc(){}
