//
// Component: Progress
//
// ========================================================================

// Variables
// ========================================================================

//
// New
//
$progress-border-radius: 500px;
$progress-bar-background: $color-primary;

// Component
// ========================================================================

@mixin hook-progress() {
	border-radius: $progress-border-radius;
	overflow: hidden;
}

// @mixin hook-progress-bar(){}

// Miscellaneous
// ========================================================================

// @mixin hook-progress-misc(){}
