//
// Component: Slidenav
//
// ========================================================================

// Variables
// ========================================================================

// Component
// ========================================================================

@mixin hook-slidenav() {
  transition: color 0.1s ease-in-out;
}

// @mixin hook-slidenav-hover(){}

// @mixin hook-slidenav-active(){}

// Icon modifier
// ========================================================================

// @mixin hook-slidenav-previous(){}

// @mixin hook-slidenav-next(){}

// Size modifier
// ========================================================================

// @mixin hook-slidenav-large(){}

// Container
// ========================================================================

// @mixin hook-slidenav-container(){}

// Miscellaneous
// ========================================================================

// @mixin hook-icon-misc(){}

// Inverse
// ========================================================================

@mixin hook-inverse-component-slidenav() {
  .uk-slidenav {
    color: $inverse-slidenav-color;
    @if (mixin-exists(hook-inverse-slidenav)) {
      @include hook-inverse-slidenav();
    }
  }
  
  .uk-slidenav:hover,
  .uk-slidenav:focus {
    color: $inverse-slidenav-hover-color;
    @if (mixin-exists(hook-inverse-slidenav-hover)) {
      @include hook-inverse-slidenav-hover();
    }
  }
  
  .uk-slidenav:active {
    color: $inverse-slidenav-active-color;
    @if (mixin-exists(hook-inverse-slidenav-active)) {
      @include hook-inverse-slidenav-active();
    }
  }
  
}

// @mixin hook-inverse-slidenav(){}
// @mixin hook-inverse-slidenav-hover(){}
// @mixin hook-inverse-slidenav-active(){}
