//
// Component: Thumbnav
//
// ========================================================================

// Variables
// ========================================================================

//
// New
//
$thumbnav-item-background:                      rgba($global-background, 0.4);
$thumbnav-item-hover-background:                transparent;
$thumbnav-item-active-background:               transparent;

// Component
// ========================================================================

// @mixin hook-thumbnav(){}

@mixin hook-thumbnav-item() {
  
  position: relative;
  
  &::after {
    background: $thumbnav-item-background;
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: background-color .1s ease-in-out;
  }
  
}

@mixin hook-thumbnav-item-hover() {
  &::after {
    background-color: $thumbnav-item-hover-background;
  }
}

@mixin hook-thumbnav-item-active() {
  &::after {
    background-color: $thumbnav-item-active-background;
  }
}

// Miscellaneous
// ========================================================================

// @mixin hook-thumbnav-misc(){}

// Inverse
// ========================================================================

// @mixin hook-inverse-thumbnav-item(){}
// @mixin hook-inverse-thumbnav-item-hover(){}
// @mixin hook-inverse-thumbnav-item-active(){}
